[tool.poetry]
name = "streamlit-webrtc"
version = "0.35.2"
description = ""
authors = ["Yuichiro Tsuchiya <t.yic.yt@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/whitphx/streamlit-webrtc"
include = ["./streamlit_webrtc/frontend/build/**/*"]
exclude = ["./streamlit_webrtc/frontend/[!build]*"]

[tool.poetry.dependencies]
python = "^3.7"
# For allow-same-origin, >=0.73.0 is required. See https://blog.streamlit.io/streamlit-components-security-and-a-five-month-quest-to-ship-a-single-line-of-code/
# 0.84.0 has an error at marshalling component values.
streamlit = ">=0.84.1"
aiortc = "^1.1.2"
typing_extensions = { version = ">=3.7.4,<5.0.0", python = "<3.8" }

[tool.poetry.dev-dependencies]
black = "^21.12b0"
isort = "^5.10.1"
flake8 = "^4.0.1"
opencv-python = "^4.5.3"
mypy = "^0.931"
pydub = "^0.25.1"
matplotlib = "^3.5.1"
deepspeech = "^0.9.3"
streamlit-server-state = "^0.12.0"
pytest = "^7.0.1"

[tool.black]
line-length = 88
target-version = ['py38']
exclude = '''

(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
  | streamlit_webrtc/frontend
)
'''

[tool.isort]
# https://pycqa.github.io/isort/docs/configuration/black_compatibility/
profile = "black"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
