[project]
name = "streamlit-webrtc"
version = "0.51.3"
description = "Real-time video and audio processing on Streamlit"
authors = [{ name = "Yuichiro Tachibana (Tsuchiya)", email = "t.yic.yt@gmail.com" }]
requires-python = ">=3.9,!=3.9.7"  # 3.9.7 is excluded due to https://github.com/streamlit/streamlit/pull/5168
readme = "README.md"
license = "MIT"
dependencies = [
    # For allow-same-origin, >=0.73.0 is required. See https://blog.streamlit.io/streamlit-components-security-and-a-five-month-quest-to-ship-a-single-line-of-code/
    # 0.84.0 has an error at marshalling component values.
    "streamlit>=0.84.1",
    "aiortc>=1.9.0",  # aiortc<1.4.0 causes an error with cryptography>=39.0.0. See https://github.com/whitphx/streamlit-webrtc/issues/1164. The fix was introduced into aiortc in https://github.com/aiortc/aiortc/commit/08b0a7e9f5030a9f7e5617382e92560d4ae763a2 that 1.4.0 included.
    "packaging>=20.0",
]

[project.urls]
Repository = "https://github.com/whitphx/streamlit-webrtc"

[dependency-groups]
dev = [
    "click>=7.0",
    "ruff>=0.9.10",
    "mypy[faster-cache]>=1.15.0",
    "pydub>=0.25.1",
    "matplotlib>=3.5.1",
    "streamlit-server-state>=0.17.1",
    "pytest>=7.1.2",
    "opencv-python-headless>=4.5.4.58,<5",
    "numpy>=1.21.0",
    "numpy>=2.1.0 ; python_version >= '3.13'",
    "pandas>=2.0.3",
    "streamlit>=1.13.0",
    "twilio>=8.1",
    "bump-my-version>=1.0.2",
]

[tool.hatch.build.targets.sdist]
include = ["/streamlit_webrtc"]
exclude = ["/streamlit_webrtc/frontend", "!/streamlit_webrtc/frontend/dist"]

[tool.hatch.build.targets.wheel]
include = ["/streamlit_webrtc"]
exclude = ["/streamlit_webrtc/frontend", "!/streamlit_webrtc/frontend/dist"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.ruff.lint]
extend-select = ["I"]

[tool.bumpversion]
version = "0.51.3"
parse = "(?P<major>\\d+)\\.(?P<minor>\\d+)\\.(?P<patch>\\d+)"
serialize = ["{major}.{minor}.{patch}"]
search = "{current_version}"
replace = "{new_version}"
regex = false
ignore_missing_version = false
ignore_missing_files = false
tag = true
sign_tags = false
tag_name = "v{new_version}"
tag_message = "Bump version: {current_version} → {new_version}"
allow_dirty = false
commit = true
message = "Bump version: {current_version} → {new_version}"
commit_args = ""
setup_hooks = []
pre_commit_hooks = []
post_commit_hooks = []

[[tool.bumpversion.files]]
filename = "pyproject.toml"
search = 'version = "{current_version}"'
replace = 'version = "{new_version}"'
