name: Frontend tests

on:
  push:
    branches:
      - main
      - develop/**
    paths:
      - 'streamlit_webrtc/frontend/**'
  pull_request:
    branches:
      - main
      - develop/**
    paths:
      - 'streamlit_webrtc/frontend/**'

jobs:
  build:

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: streamlit_webrtc/frontend

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version-file: .nvmrc
        cache: 'npm'
        cache-dependency-path: streamlit_webrtc/frontend/package-lock.json
    - run: npm ci
    - name: Lint
      run: |
        npm run check:eslint
        npm run check:prettier
    - run: npm run build --if-present
    - run: npm test
