name: Frontend tests

on:
  push:
    branches:
      - main
      - develop/**
    paths:
      - 'streamlit_webrtc/frontend/**'
  pull_request:
    branches:
      - main
      - develop/**
    paths:
      - 'streamlit_webrtc/frontend/**'

jobs:
  build:

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: streamlit_webrtc/frontend

    strategy:
      matrix:
        node-version: [14.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2.3.4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2.3.2
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - name: Lint
      run: |
        npm run check:eslint
        npm run check:prettier
    - run: npm run build --if-present
    - run: npm test
