name: Upload Python Package

on:
  release:
    types: [published]

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.8'
    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version-file: .nvmrc
    - name: Bootstrap poetry
      run: |
        curl -sL https://install.python-poetry.org | python - -y
    - name: Update PATH
      run: echo "$HOME/.local/bin" >> $GITHUB_PATH
    - name: Install Python dependencies
      run: poetry install
    - name: Install fronend dependencies
      run: npm ci
      working-directory: streamlit_webrtc/frontend
    - name: Build and publish
      env:
        PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
      run: |
        make pkg/build
        poetry publish -u __token__ -p ${PYPI_TOKEN}
